.footer {
    background: linear-gradient(135deg, #a8c4e6, #3f72af);
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    
    margin-bottom: 0;
    
  }
  
  .footer-content p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
 